<!DOCTYPE html>
<html ng-app="noSurf">
<!--
	API Key
	51cb531a971ca10554a6ae517b90efe6
	
	http://api.openweathermap.org/data/2.5/forecast/city?id=524901&APPID=&appid=51cb531a971ca10554a6ae517b90efe6
	

	http://api.openweathermap.org/data/2.5/forecast?lat=-23.43&lon=-45.07&appid=51cb531a971ca10554a6ae517b90efe6

	http://api.openweathermap.org/data/2.5/forecast?id={city ID}


	http://api.openweathermap.org/data/2.5/weather?lat=-23.4741297&lon=-46.3927326&appid=51cb531a971ca10554a6ae517b90efe6



	FORECAST.IO
	3633ce3ab311df404ee0fd9dc979541d
	https://api.forecast.io/forecast/APIKEY/LATITUDE,LONGITUDE

	https://api.forecast.io/forecast/3633ce3ab311df404ee0fd9dc979541d/37.8267,-122.423



	WORLD WEATHER ONLINE

	http://api.worldweatheronline.com/free/v1/marine.ashx?key=d7pesx54engabthjcznhanfa&format=json&q=-25.8685,-48.5589

-->
<head>
	<title>Teste</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8" /> 
	<link rel="stylesheet" type="text/css" href="resources/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="resources/lib/angular-chart.js/dist/angular-chart.css">


	<style type="text/css">

			.table-right td{
				text-align: right;
				padding: 0.3em;
			}
			.table-center{
				border: solid 1px red;

			}
			 .table-center td{
				text-align: center;
				padding: 0.3em;
			}
			.scroll{
				overflow: auto;
			}
	</style>	
	<script type="text/javascript" src="resources/lib/angular/angular.js"></script>

	<script type="text/javascript" src="angular-locale_pt-br.js"></script>
	
	<script type="text/javascript" src="resources/lib/jquery/dist/jquery.js"></script>

	<script src="resources/lib/Chart.js/Chart.js"></script>	
	<script src="resources/lib/angular-chart.js/dist/angular-chart.js"></script>





	<script type="text/javascript" src="estados.js"></script>
	<script type="text/javascript" src="cidades.js"></script>
	<script type="text/javascript" src="praias.js"></script>
	
	<script type="text/javascript">
		var urlBase = "http://api.worldweatheronline.com/premium/v1/";
		var url = "http://api.worldweatheronline.com/premium/v1/marine.ashx?key=f2ae69adff674902a3c13610160504&format=json&q=";
		var key = "f2ae69adff674902a3c13610160504";

		var app = angular.module("noSurf", ['chart.js']);
		
		app.filter('toHour' , function(){
			return function(input){
				
				if(input.length == 4){
					input = input.substring(0,2) + "h" + input.substring(2);
				}
				if(input.length == 3){
					input = "0" + input.substring(0,1) + "h" + input.substring(1);
				}

				if(input.length == 1){
					input = "00" +	 "h" + "00";
				}
				return input;
			};

		});

		app.controller("noSurfCtrl", function($scope, $http, $filter){
				$scope.estados = estados;
				$scope.cidades = cidades;
				$scope.praias = praias;

				$scope.carregaCidade = function(tmpEstado){
					var tmp = false;
					if(tmpEstado != null){

						
						tmp = $scope.cidades.some(function(elem){
							if(elem.id_estado == tmpEstado.id){
								$scope.objCidades = elem.cidades;
								return true;
							}
						});
					}
					if(tmp == false){
						$scope.objCidades = {};
					}
				};

				$scope.carregaPraia = function(tmpCidade){
					var tmp = false;
					if(tmpCidade != null){
						tmp = $scope.praias.some(function(elem){
							if(elem.id_cidade == tmpCidade.id){
								$scope.objPraias = elem.praias;
								return true;
							}
						});
					}

					if(tmp == false){
						$scope.objPraias = {};
					}
				};

				$scope.carregaWeather = function(praia){
					console.log(praia);
					if(praia != null){
						
						//weather.ashx?q=
						$http({
							method: "GET",
							url: urlBase+ "marine.ashx?key="+key+"&lang=pt&tide=yes&format=json&q=" + praia.lat +"," + praia.lon
						}).then(function(data){
							$scope.resultMarine = data.data.data;
							$scope.carregaChart($scope.resultMarine);

						},function(data){
							console.log("ERROR");
							console.log(data);
						});

						$http({
							method: "GET",
							url: urlBase+ "weather.ashx?key="+key+"&lang=pt&showmap=yes&format=json&q=" + praia.lat +"," + praia.lon
						}).then(function(data){
							$scope.resultWeather = data.data.data;
							$scope.carregaAtual();
						},function(data){
							console.log("ERROR");
							console.log(data);
						});

					}
				};

				$scope.series = ["Tamanho Onda(m)"];
				$scope.data = [];
				$scope.dataChart = [];
				$scope.labels = [];
				$scope.indexDate = 0;
				
				$scope.carregaChart= function(resultMarine){
					$scope.dataChart = [];
					$scope.tmpLabel = [];

					resultMarine.weather.forEach(function(elem, index, arr){
						if(index == $scope.indexDate){
							$scope.now = elem.date;
							elem.hourly.filter(function(elem2){
								$scope.dataChart.push(parseFloat(elem2.swellHeight_m));
								$scope.tmpLabel.push($filter('toHour')(elem2.time));
							});
						}
					});



					$scope.labels = $scope.tmpLabel;
					$scope.data[0] = $scope.dataChart;


					
				};

				$scope.modDate = function(val){
					if($scope.indexDate + val < 0 || $scope.indexDate + val > 6){

					}else{
						$scope.indexDate += val;
						$scope.carregaChart($scope.resultMarine);
					}
				};
				  
				$scope.carregaAtual = function(){
					var a = [00,03,06,09,12,15,18,21];
					d = new Date();
					var atual = 0;
					a = a.forEach(function(elem, index, arr){
						if(d.getHours() >= 21){
							atual = index;
						}else  if(d.getHours() < elem){
							atual = index-1;
						}
					});
					$scope.atualMarine = $scope.resultMarine.weather[0].hourly[atual];
					$scope.atualWeather = $scope.resultWeather.weather[0].hourly[atual];
					console.log($scope.atualMarine);
				};
		});
	</script>

</head>
<body ng-controller="noSurfCtrl">
	<div class="container-fluid">

			<div class="row">
				<div class="col-md-4 col-sm-4">
						
							<select class="form-control" ng-model="est" ng-options="item.name for item in estados" ng-change="carregaCidade(est)">
								<option value="">Selecione o Estado</option>
							</select>
				</div>
				<div class="col-md-4 col-sm-4">
							<select class="form-control" ng-model="cid" ng-options="item.name for item in objCidades" ng-change="carregaPraia(cid)">
								<option value="">Selecione o Cidade</option>
							</select>
				</div>	
				<div class="col-md-4 col-sm-4">
							<select class="form-control" ng-model="pra" ng-options="item.name for item in objPraias" ng-change="carregaWeather(pra)">
								<option value="">Selecione o Praias</option>
							</select>
				</div>	
				<hr />
				<br />
			</div>

			<div class="row">
				<div class="col-md-1">
					<button class="btn btn-primary" ng-click="modDate(-1)">Prev</button>
				</div>
				<div class="col-md-10">
					 <p class="text-center">{{now | date:'EEEE'}}</p>

					 <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-options="{}"></canvas> 
				</div>
				<div class="col-md-1">
					<button class="btn btn-primary" ng-click="modDate(1)">Next</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 table-responsive">
					<table class="table ">
						<tr>
							<td>Tamanho</td>
							<td>Direção</td>
							<td>Periodo</td>
							<td>Potencia</td>
							<td>Vento</td>
							<td>Direção</td>
						</tr>
						<tr>
							<td>{{atualMarine.swellHeight_m}}</td>
							<td>{{atualMarine.swellDir}}</td>
							<td>{{atualMarine.swellPeriod_secs}}</td>
							<td>{{atualMarine.WindGustKmph}}</td>
							<td>{{atualMarine.WindChillC}}</td>
							<td>{{atualMarine.swellDir16Point}}</td>
						</tr>

						<tr>
							<td colspan="6">abc</td>
						</tr>

						<tr>
							<td>Temperatura</td>
							<td>Probabilidade</td>
							<td>Chuva</td>
							<td>Nascer</td>
							<td>Pôr do Sol</td>
							<td>Lua</td>
						</tr>
						<tr>
							<td>{{atualMarine.tempC}}</td>
							<td>{{atualWeather.chanceofrain}}%</td>
							<td>{{atualWeather.precipMM}}mm</td>
							<td>{{resultMarine.weather[0].astronomy[0].sunrise}}</td>
							<td>{{resultMarine.weather[0].astronomy[0].sunset}}</td>
							<td></td>
						</tr>

					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 table-responsive">
					<table>
						<tr >
							<td>
								<table class="table-right">
									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>Horário</td>
									</tr>
									<tr>
										<td>Direção da Onda</td>
									</tr>
									<tr>
										<td>Tamanho(m)</td>
									</tr>
									<tr>
										<td>Período(seg)</td>
									</tr>
									<tr>
										<td>Direção do Vento</td>
									</tr>
									<tr>
										<td>Velocidade(km/h)</td>
									</tr>
									<tr>
										<td>Potência</td>
									</tr>

								</table>
							</td>
							<td ng-repeat="item in resultMarine.weather">
								<table class="table-center">
									<tr>
										<td colspan="8">{{item.date | date:'EEEE'}}</td>
									</tr>
									<tr>
										<td ng-repeat="item2 in item.hourly">
											{{item2.time | toHour}}
										</td>
									</tr>
									<tr>
										<td ng-repeat="item2 in item.hourly">
											{{item2.swellDir16Point}}
										</td>
									</tr>
									<tr>
										<td ng-repeat="item2 in item.hourly">
											{{item2.swellHeight_m}}
										</td>
									</tr>
									<tr>
										<td ng-repeat="item2 in item.hourly">
											{{item2.swellPeriod_secs}}
										</td>
									</tr>
									<tr>
										<td ng-repeat="item2 in item.hourly">
											{{item2.winddir16Point}}
										</td>
									</tr>
									<tr>
										<td ng-repeat="item2 in item.hourly">
											{{item2.windspeedKmph}}
										</td>
									</tr>
									<tr>
										<td ng-repeat="item2 in item.hourly">
											{{item2.WindGustKmph}}
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</div>
	</div>
</body>
</html>