<!DOCTYPE html>
<html ng-app="noSurf">
    <!--
       API Key
       51cb531a971ca10554a6ae517b90efe6
       
       http://api.openweathermap.org/data/2.5/forecast/city?id=524901&APPID=&appid=51cb531a971ca10554a6ae517b90efe6
       
       
       http://api.openweathermap.org/data/2.5/forecast?lat=-23.43&lon=-45.07&appid=51cb531a971ca10554a6ae517b90efe6
       
       http://api.openweathermap.org/data/2.5/forecast?id={city ID}
       
       
       http://api.openweathermap.org/data/2.5/weather?lat=-23.4741297&lon=-46.3927326&appid=51cb531a971ca10554a6ae517b90efe6
       
       
       
       FORECAST.IO
       3633ce3ab311df404ee0fd9dc979541d
       https://api.forecast.io/forecast/APIKEY/LATITUDE,LONGITUDE
       
       https://api.forecast.io/forecast/3633ce3ab311df404ee0fd9dc979541d/37.8267,-122.423
       
       
       
       WORLD WEATHER ONLINE
       
       http://api.worldweatheronline.com/free/v1/marine.ashx?key=d7pesx54engabthjcznhanfa&format=json&q=-25.8685,-48.5589
       
    -->
    <head>
        <title>Praianos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />

        <link rel="stylesheet" type="text/css" href="resources/lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="resources/lib/angular-chart.js/dist/angular-chart.css">
        <link rel="stylesheet" href="resources/lib/weather-icons/css/weather-icons.css">
        <link rel="stylesheet" href="resources/lib/weather-icons/css/weather-icons-wind.css">
        <link rel="stylesheet" href="resources/lib/angular-carousel/dist/angular-carousel.css">
        <link rel="stylesheet" href="resources/css/style.css" >
        <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />


        <script type="text/javascript" src="resources/lib/angular/angular.js"></script>
        <script type="text/javascript" src="resources/js/locale/angular-locale_pt-br.js"></script>
        <script type="text/javascript" src="resources/lib/jquery/dist/jquery.js"></script>
        <script src="resources/lib/bootstrap/dist/js/bootstrap.js" ></script>

        <script src="resources/lib/Chart.js/Chart.js"></script>   
        <script src="resources/lib/angular-chart.js/dist/angular-chart.js"></script>
        <script src="resources/lib/angular-touch/angular-touch.js" ></script>
        <script src="resources/lib/angular-carousel/dist/angular-carousel.js" ></script>


        <script type="text/javascript" src="resources/json/estados.js"></script>
        <script type="text/javascript" src="resources/json/cidades.js"></script>
        <script type="text/javascript" src="resources/json/praias.js"></script>
        <script type="text/javascript" src="resources/json/locais.js"></script>




        <script src="resources/js/app.js" ></script>
        <script src="resources/js/filters/filters.js" ></script>
        <script type="text/javascript" src="resources/js/controllers/noSurfCtrl.js"></script>


    </head>
    <body ng-controller="noSurfCtrl" class="menu-closed">
        <div class="loading" ng-show="loading">

            <span class="glyphicon glyphicon-refresh " id="loading"></span>

        </div>
        <div class="container-fluid content-all ">

            <div class="over-layer"></div>



            <nav class="menu">
                <ul class="list-group">

                    <li class="list-group-item">
                        <h3>
                            Escolha sua Praia
                        </h3>
                    </li>

                    <li class="list-group-item">
                        <select class="form-control" ng-options="item.name for item in locais" ng-model="obj_est">
                            <option value="">Selecione o Estado</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <select class="form-control" ng-options="item.name for item in obj_est.cidades" ng-model="obj_cid">
                            <option value="">Selecione o Cidade (Tot: {{obj_est.cidades.length|| 0}})</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <select class="form-control" ng-options="item.name for item in obj_cid.praias" ng-model="obj_pra"  ng-change="carregaWeather(obj_pra)">
                            <option value="">Selecione a Praia (Tot: {{obj_cid.praias.length|| 0}})</option>
                        </select>
                    </li>

                    <li class="list-group-item">
                        <input type="text" class="form-control" ng-model="busca" placeholder="Buscar"/>
                        <div  class="exibe-praias">
                            <div ng-repeat="item in locais">
                                <div ng-repeat="item2 in item.cidades">
                                    <div ng-repeat="item3 in item2.praias| filter:{name:busca} | orderBy:name" ng-show="busca.length > 0">
                                        <a href="" ng-click="carregaWeatherBusca(item3)">{{item3.name}}, {{item.code| uppercase}} - {{item2.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="row menu-content">
                <div class="col-md-12">
                    <div>
                        <button class="btn btn-primary" onclick="toggleMenu()">
                            <span class="glyphicon glyphicon-align-justify" style="font-size: 1.5em;"></span>
                        </button>

                    </div>
                    <div class="nomes-locais">
                        <div ng-show="obj_est">{{obj_est.code| uppercase}} <span class="glyphicon glyphicon-menu-right"></span> </div> 
                        <div ng-show="obj_cid">{{obj_cid.name}} <span class="glyphicon glyphicon-menu-right"></span> </div>
                        <div ng-show="obj_pra" style="font-size: 1.2em; text-decoration: underline">{{obj_pra.name| uppercase}}</div>
                    </div>
                </div>  
            </div>
            <h2>&nbsp;</h2>

            <div class="row"
                 ng-class="{esconde:!atualMarine}"
                 >
                <div class="col-md-6 table-responsive">
                    <h2>Previsão Atual</h2>
                    <table class="table table-now">
                        <tr>
                            <td>
                                <img src="resources/img/tamanho_onda.png"  />
                                Tamanho Onda
                            </td>
                            <td>
                                {{atualMarine.swellHeight_m}}m
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/direcao_onda.png"  />
                                Direção Onda
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-arrow-up" style="transform:rotate({{atualMarine.swellDir}}deg)" title="{{atualMarine.swellDir16Point}}"></span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/periodo.png"  />
                                Periodo
                            </td>
                            <td>
                                {{atualMarine.swellPeriod_secs}}seg
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/potencia.png"  />
                                Potência Onda
                            </td>
                            <td>
                                {{atualMarine.WindGustKmph}}km/h
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/vento_temp.png"  />
                                Vento Temp.
                            </td>
                            <td>
                                {{atualMarine.WindChillC}}&#176;c
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/direcao_vento.png"  />
                                Direção Vento
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-arrow-up" style="transform:rotate({{atualMarine.winddirDegree}}deg)" title="{{atualMarine.winddir16Point}}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/temperatura.png"  />
                                Temperatura
                            </td>
                            <td>
                                {{atualMarine.tempC}}&#176;c
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/proba.png"  />
                                Probabilidade
                            </td>
                            <td>
                                {{atualWeather.chanceofrain}}%
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/chuva.png"  />
                                Chuva
                            </td>
                            <td>
                                {{atualWeather.precipMM}}mm
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/sol_cima.png"  />
                                Nascer
                            </td>
                            <td>
                                {{resultMarine.weather[0].astronomy[0].sunrise}}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/sol_baixo.png"  />
                                Pôr do Sol
                            </td>
                            <td>
                                {{resultMarine.weather[0].astronomy[0].sunset}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="resources/img/lua.png"  />
                                Lua
                            </td>
                            <td>Moon Icon</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Direções</h2>

                    <div class="compass">
                        <img src="resources/img/arrow_up_green.png" class="img-responsive" style="transform: rotate({{atualMarine.swellDir}}deg)"/>
                        <img src="resources/img/arrow_up_blue.png" class="img-responsive" style="transform: rotate({{atualMarine.winddirDegree}}deg)"/>
                        <img src="resources/img/compass.png" class="img-responsive"/>
                    </div>
                    <div class="legenda-direcoes">
                        <div style="background-color: #ffffff; border-radius: 5px;"></div>
                        <span>Vento</span>
                        <div style="background-color: #e1a400; border-radius: 5px;"></div>
                        <span>Onda</span>
                    </div>
                    <hr />

                    <div id="map"></div>

                </div>



                <br />
            </div>
            <div class="row" ng-show="atualMarine">


                <div class="col-md-12">
                    <hr />
                    <h2>Previsão Semanal</h2>
                </div>
                <div class="col-md-6">
                    <div rn-carousel-indicators ng-if="resultMarine.weather.length > 1" slides="resultMarine.weather" rn-carousel-index="carouselIndex" style="display: flex; align-content: center; justify-content: center;"></div>
                    <ul rn-carousel rn-carousel-index="carouselIndex" class="rn-carousel">
                        <span style="font-size: 2em; z-index: 100" class="arrow glyphicon glyphicon-chevron-left" ng-click="prevSlide()" ng-disabled="carouselIndex < 1"></span>
                        <span style="font-size: 2em; z-index: 100" class="arrow glyphicon glyphicon-chevron-right"  ng-click="nextSlide()"  ng-disabled="carouselIndex < resultMarine.weather.length - 1"></span>
                        <li ng-repeat="item in resultMarine.weather">
                            <div class="layer">
                                <table class="table table-semanal">
                                    <tr>
                                        <td colspan="7">
                                            {{item.date| date:'fullDate' | uppercase}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-time" title="Horário" style="font-size: 35px;"></span>

                                        </td>
                                        <td>
                                            <img  src="resources/img/direcao_onda.png" title="Direção Onda" />

                                        </td>
                                        <td>
                                            <img  src="resources/img/tamanho_onda.png" title="Tamanho (M)" />
                                        </td>
                                        <td>
                                            <img  src="resources/img/potencia.png" title="Potência" />
                                        </td>
                                        <td>
                                            
                                            <img  src="resources/img/direcao_vento.png" title="Direção Vento" />

                                        </td>
                                        <td>
                                            <img  src="resources/img/direcao_vento.png" title="Velocidade (km/h)" />

                                        </td>
                                        
                                    </tr>
                                    <tr ng-repeat="item2 in item.hourly">
                                        <td>
                                            {{item2.time| toHour}}
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-arrow-up" style="transform:rotate({{item2.swellDir}}deg)" title="{{item2.swellDir16Point}}"></span>
                                        </td>
                                        <td>
                                            {{item2.swellHeight_m}}M
                                        </td>
                                        <td>
                                            {{item2.WindGustKmph}}
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-arrow-up" style="transform:rotate({{item2.winddirDegree}}deg)" title="{{item2.winddir16Point}}"></span>
                                        </td>
                                        <td>
                                            {{item2.windspeedKmph}}km/h
                                        </td>
                                        
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        {{now| date:'fullDate' | uppercase}}
                    </div>
                    <br />
                    <hr />
                    <canvas chart-colours="colours" id="line" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-options="{ scaleStepWidth: 0.5, scaleLineColor: 'white', scaleFontColor: 'white', scaleGridLineColor : 'white'}" height="100"></canvas>
                </div>


            </div>
        </div>

        <script type="text/javascript">

                    function toggleMenu() {
                        document.getElementsByTagName('body')[0].classList.toggle('menu-opened');
                        document.getElementsByTagName('body')[0].classList.toggle('menu-closed');
                    }
                    document.getElementsByClassName('over-layer')[0].onclick = toggleMenu;
                    toggleMenu();
                    var map;
                            function initMap(lat, lng) {
                                if (lat == undefined) {
                                    lat = 0;
                                }
                                if (lng == undefined) {
                                    lng = 0;
                                }
                                var myLatLng = {lat: lat, lng: lng};
                                map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 15,
                                    center: myLatLng,
                                    scrollwheel: true
                                });
                                var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    map: map,
                                    title: 'Hello World!'
                                });
                            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTbk54QQ8sHvqi0QhZ0HAAoQa_pllO4Co&callback=initMap"
        async defer></script>

    </body>
</html>