.modal-default:not(.modal-mostrar){
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
.search-praias > *:nth-child(2) {
    position: absolute;
    max-height: 100px;
    overflow-y: auto;
    background-color: white;
    z-index: 10;
    left: 0;
    right: 0;
    width: 86%;
    margin: 0 auto;
    box-shadow: 0 0 5px gray;

}
.search-praias > *:nth-child(2) > *:hover{
    background-color: rgb(230,230,230);
}


.loadError{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center
}
.loadError > div{
    padding: 1em;
    font-size: 1.5em;

}
.splash {
    overflow: hidden;
}



.splash #splash > div{
    height: 100%;
    border: solid blue 1px;


}
.splash #splash > div img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}
.splash #splash{
    height: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}


.menu{
    position: fixed;
    height: 100%;
    background-color: white;
    z-index: 10;

}
.menu-animate{
    transition: all linear .5s;
}
.menu > div:nth-child(1){

    height: 10vh;
    background-color: #3366FF;
    color: white;
    position: relative;
    font-size: 1.5em;
}

.menu > div:nth-child(1) > *{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: flex-end
}

.menu > div:nth-child(1) > div:nth-child(1){
    float: left;

}
.menu > div:nth-child(1) > div:nth-child(2){
    float: right;
}
.menu ul li{
    background-color: rgba(0,0,0,0);
}
.menu-hide .menu{

}
.menu-show .menu{
    left: 0;
}

.busca-praias{
    max-height: 200px;
    padding: 0 15px;
    overflow-y: auto;
    font-size: 1.5em;
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 100%;
    left: 0;
}

body{
    position: relative;
}
.over-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: linear all .5s;
}
.menu-hide .over-layer{
    background-color: rgba(0,0,0,0);
    visibility: hidden;
}
.menu-show .over-layer{
    visibility: visible;
    background-color: rgba(0,0,0,.7);
}


.menu-top{
    position: fixed;
    background-color: #3366FF;
    left: 15px;
    width: 100%;
    z-index: 1;
    color: white;
    height: 20vh;
}

.menu-top > div{
    width: 100%;

}
.menu-top > div:nth-child(1){

    //background-color: blue;
    height: 50%;
}

.menu-top > div:nth-child(1) > *{
    padding-top: 15px;
}
.menu-top > div:nth-child(1) > *:not(:last-child){
    float: left;
    margin-right: 15px;

}
.menu-top > div:nth-child(2){
    height: 50%;
}

.menu-top .option{
    float: right;
}
.menu-top .bt-toggle,.menu-top .option{
    font-size: 1.4em;
}
.menu-top > div:nth-child(1) > div:nth-child(1){
    cursor: pointer;
}

.tab-menu{

}
.tab-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    //width: 100%;
}
.tab-menu li{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    cursor: pointer;
}

.tab-menu li a{
    align-self: center;
}
.tab-menu li a:visited, .tab-menu li a:link{
    color: white;
    text-decoration: none;
    padding: 0 1em; 


}

.tab-menu-active{
    border-bottom: solid orange .3em;
}

.tab-content{

    overflow-y:hidden;
    overflow-x:hidden;

    border: solid red 0px;
}
.tab-content-in{
    width: 100%;
    position: relative;

}
.tab-content-in > div{
    width: 100%;

}
.tab-content-in > div.tab-content-active{
    height: 60vh;
    overflow:auto; 
    //padding-top: 15px;
    border: solid red 0px;
    padding-bottom: 15px;
}
.tab-content-in > div:not(.tab-content-active){
    position: absolute;
    overflow: hidden;
    top: 0;

}

.tab-content-animate{
    transition: linear all .6s
}


.loading{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.4);
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading > img{

    /*    color: white;
    font-size: 10em;

    animation: load linear infinite .5s;
    -moz-animation: load linear infinite .5s;
    -webkit-animation: load linear infinite .5s;*/
}

@keyframes load{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@-webkit-keyframes load{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@-moz-keyframes load{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#map{
    width: 100%;

}

.rn-carousel{
    height: 400px;
    position: relative;
}
.rn-carousel-indicator{
    font-size: 2.5em;   
}

.rn-carousel-controls{
    position: absolute;
    top: 50%;
    opacity: .7;
    cursor: pointer;
}
.rn-carousel-controls:nth-child(1){
    left: 0;   
}
.rn-carousel-controls:nth-child(2){
    right:  0;   
}

.table-weak tr:nth-child(2) td{
    font-size: 20px;
}
.table-weak tr:nth-child(2) td img{
    width: 20px;
}
.table-weak tr td{
    text-align: center;
}

.container-fluid, .container{
    background-color: rgba(230,230,230,1); 

}
.rodape{
    overflow: hidden;
    border: solid blue 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rodape > div{
    border: solid red 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.rodape > div >*{

}

.compass{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
}

.compass > img:not(:last-child){
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    opacity: .7;
}

.legenda-direcoes{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}

.legenda-direcoes > div{
    width: 20px;
    height: 20px;
    margin: 0 .5em;
}

.table-now tr td img{
    width: 30px;
}

.table-semanal tr{
    cursor: pointer;
}

.table-semanal tr td:not(:nth-child(3)){
    text-align: center;
}

.table-semanal tr td img, .table-porHora tr td img{
    width: 30px;
}
.table-semanal tr td, .table-porHora tr td{
    padding: 5px;

}
.table-porHora tr td:not(:nth-child(3)){
    text-align: center;
}





.table-dia tr:nth-child(1){
    font-size: 20px;
}
.table-dia tr:nth-child(1) img{
    width: 20px;
}
.table-dia tr td{
    text-align: center;
}



/*@media screen and (orientation:portrait) {
    #map{
        border: solid red 1px;
    }
}
@media screen and (orientation:landscape) {
   #map{
        border: solid blue 1px;
    }
}*/

.modal-show{
    overflow: hidden;
}

.modal-default{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(230,230,230);
    z-index: 25;    
    top: 0;
    left: 0;

}

.modal-default .modal-head{
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 40;
    padding: 0 15px;


}
.modal-default .modal-body-head{

    width: 100%;
    z-index: 40;
    left: 0;
    top: 0;
    margin: 10vh 0px 0px 0px;
    padding: 0;
    position: fixed;
    background-color: rgb(230,230,230);
    padding: 0 15px;
    border: solid red 0px;

}
.modal-default .modal-body{
    overflow-y: auto;
    border: solid red 0px;
}
.modal-foot{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0px red;
}
.modal-foot > div{
    min-width: 80vw;
    width: 100%;
    height: 100%;
    border: solid 0px blue;

}
.modal-head {
    background-color: #3366FF;
    color: white;
}
.modal-head > *{
    float: left;
    margin-right: 15px;
    font-size: 1.5em;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.modal-head > *:first-child{
    cursor: pointer;



}


.modal-body-head{
    position: relative;

}
.modal-body-head > div{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.modal-body-head > div img{
    width: 45px;
    height: 45px;
}

.modal-body-head > span{

    position: absolute;
    top: 47%;
    font-size: 2em;
    cursor: pointer;

}
.modal-body-head > span:nth-child(1){
    left: 15px;
}
.modal-body-head > span:nth-child(2){
    right: 15px;
}


@media screen and (min-width: 601px){
    .menu{
        width: 40%;
    }
    .menu-hide .menu{
        left: -40%;
    }

    .tab-menu li{
        display: inline-block;
        list-style: none;
        text-align: center;
        font-size: 1em;
    }

    #map{
        height: 300px;
    }
}
@media screen and (max-width: 600px){
    .menu{
        width: 85%;
    }
    .menu-hide .menu{
        left: -85%;
    }
    .tab-menu li{
        flex: 1;
        list-style: none;
        text-align: center;
        font-size: .8em;
    }
    #map{
        height: 200px;
    }
}

@media screen and (orientation:portrait){
    .modal-default .modal-body-head{
        height: 18vh;
    }
    .modal-default .modal-body{
        margin-top:  28vh;
        height: 57vh;
    }

    .modal-foot{
        height: 15vh;
    }

    .tab-content{
        margin-top: 20vh;
        min-height: 65vh;
    }
    .rodape{
        height: 15vh;

    }
}
@media screen and (orientation:landscape){
    .modal-default .modal-body-head{
        height: 30vh;
    }
    .modal-default .modal-body{
        margin-top: 40vh;
        height: 40vh;
    }

    .modal-foot{
        height: 20vh;
    }

    .tab-content{
        margin-top: 20vh;
        min-height: 60vh;
    }
    .rodape{
        height: 20vh;
    }
}
